#search-bar{
  height: 50px;
  margin: 20px 0px;
  #search-bar-input{
    background-color: rgba(black, 0.2);
    border: none;
    border-radius: 2px;
    box-shadow: $shadow1;
    color: white;
    font-size: 1em;
    font-weight: 300;
    outline: none;
    padding: 15px;
    width: 100%;

    &::-webkit-input-placeholder{
      color: white;
      font-weight: 300;
    }

    &:focus, &.has-value{
      background-color: rgba(black, 0.5);
      box-shadow: $shadow2;
    }
  }
}